
@{
    ViewBag.Title = "Home (FBI/Super)";
    Layout = "~/Views/Shared/_System.cshtml";
}

<div class="block">
    <div class="header">
        <b>Data List</b>
        <a href="" class="btn target blue" title="Add New Bus Manager"><span>Add New</span></a>
    </div>
    <div class="body">
        <table class="datatable">
            <thead>
                <tr>
                    <th style="width: 60px">Photo</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

